# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
.tox/
.nox/
.cache/
pytest_cache/
htmlcov/

# VS Code
.vscode/

# Pyenv local version file (optional — include if you want others to choose their own env)
# .python-version

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# macOS
.DS_Store

# Logs
*.log

# dotenv
.env
.env.*

# MyPy / lint
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
